/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}





/* regole header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 900;
}

header nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 10px;
}

li {
    list-style-type: none;
}





/* regole jumbotron */
.jumbotron {
    width: 100%;
    height: 500px;
    background-color: #b4d0e7;
}

.jumbo-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.jumbo-container h1 {
    width: 100%;
}

.jumbo-row {
    display: flex;
    width: 100%;
    height: calc(100% - 110px); /* 110px di h1 (dato solo a debug) */
}

.jumbo-col {
    height: 100%;
    position: relative;
}

.jumbo-row div.text {
    width: 40%;
}

.jumbo-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
}

.jumbo-row div.image {
    width: 60%;
}





/* regole sezione prezzi */
.price-plan {
    width: 100%;
}

.price-plan-container {
    width: 60%;
    height: 1000px;
    padding: 50px 0;
    margin: 0 auto;
}

.price-plan-container h3 {
    margin-bottom: 30px;
}

.radio-section {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.price-row {
    width: 100%;
    height: 60%; /* 600px */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.price-row .price-col {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.price-col-reverse {
    width: 100%;
    height: 20%;
}

.price-col .account-type, .price-col-reverse .account-type {
    height: 20px;
    width: 100%;
}

.price-col .account-type-description, .price-col-reverse .account-type-description {
    height: calc(100% - 20px);
    width: 100%;
}





/* regole sezione trova partner */
.find-partner {
    display: flex;
    justify-content: flex-start;
    height: 350px;
    width: 60%;
    margin: 0 auto;
}

.find-partner-image {
    width: 60%;
}

.find-partner-text {
    width: 40%;
}





/* sezione operazioni dropbox business  */
.operation-business {
    width: 60%;
    margin: 0 auto;
}

.operation-business-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.operation-business-col {
    width: calc(100% / 3);
}





/* sezione numero team che usano dropbox */
.user-active {
    width: 60%;
    margin: 0 auto;
}





/* sezione società */
.square-society {
    display: flex;
    justify-content: flex-start;
}

.square-society-col {
   height: 350px;
   max-width: calc(100% / 3);
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   flex-grow: 1;
}

.square-society-items {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.square-society-items-central {
    overflow: auto;
    max-height: 100%;
}


/* regole DEBUG */
body {
    background-color: aqua;}

header {
    background-color: brown;
}

header nav {
    background-color: aquamarine;
}

header nav ul {
    background-color: blue;
}

header nav ul li {
    width: 50px;
    height: 30px;
    border: 2px solid black;
}

.jumbo-container {
    background-color: brown;
}

.jumbo-container h1 {
    height: 110px;
    background-color: blue;
}

.jumbo-row div.text {
    background-color: rgb(22, 150, 116);
    border: 2px solid black;
}

.jumbo-row div.image {
    background-color: rgb(22, 150, 116);
    border: 2px solid black;
}

.price-plan-container {
    background-color: rgb(180, 205, 18);
}

.price-plan-container h3 {
    width: 100%;
    height: 30px;
    background-color: aqua;
    border: 2px solid black;
}

.price-plan-container .radio-section {
    background-color: aqua;
}

.price-plan-container .radio-section div {
    background-color: brown;
    width: 50px;
    height: 20px;
}

.price-row .price-col {
    background-color: brown;
}

.price-row-reverse {
    background-color: rgb(80, 30, 30);   
}

.price-col .account-type, .price-col-reverse .account-type {
    background-color: blueviolet;
}

.price-col .account-type-description, .price-col-reverse .account-type-description {
    background-color: rgb(37, 37, 176);
}

.find-partner-image {
    background-color: brown;
    border: 2px solid black;
}

.find-partner-text {
    background-color: brown;
    border: 2px solid black;
}

.operation-business {
    background-color:rgb(80, 30, 30);
    height: 600px;
}

.operation-business h3 {
    width: 100%;
    height: 50px;
}

.operation-business-row {
    height: 90%;
}

.operation-business-col {
    height: 50%;
    background-color: blueviolet;
    border: 2px solid black;
}

.user-active {
    background-color: rgb(211, 11, 11);
    height: 250px;
}

.square-society-col {
    background-color: blue;
    border: 2PX solid black;
}

.square-society-items {
    background-color: yellow;
    border: 2px solid black;
}