/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.button-blue a {
    background-color: #0061ff;
    color: #dbe8ff;
    padding: 5px 10px;
}

.button-white a {
    background-color: #ffffff;
    color: #1d1b15;
    padding: 5px 10px;
    border: 1px solid black;
}





/* regole header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 900;
    background-color: #ffffff;
}

header nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 8px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: #2d2d2d;
    padding: 0 10px;
    font-size: 13px;
}





/* regole jumbotron */
.jumbotron {
    width: 100%;
    height: 550px;
    background-color: #b4d0e7;
}

.jumbo-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.jumbo-container h1 {
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    height: 140px;
}

.jumbo-row {
    display: flex;
    width: 100%;
    height: calc(100% - 170px); /* 140px di h1 (+ 30 margine) */
}

.jumbo-col {
    height: 100%;
    position: relative;
}

.text {
    font-size: 10.5px;
}

.text p {
    margin-bottom: 30px;
}

.text .button-blue {
    margin-bottom: 30px;
}

.jumbo-row div.text {
    width: 30%;
}

.jumbo-arrow {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.jumbo-arrow a i {
    font-size: 30px;
    color: black;
}

.jumbo-row div.image {
    width: 70%;
}

.jumbo-col img {
    max-width: 600px;
}



/* regole sezione prezzi */
.price-plan {
    width: 100%;
}

.price-plan-container {
    width: 60%;
    height: 1000px;
    padding: 80px 0;
    margin: 0 auto;
}

.price-plan-container h3 {
    margin-bottom: 30px;
    font-size: 25px;
}

.radio-section {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 10px;
}

.fatturazione {
    display: flex;
    gap: 2px;
}

.radiobox {
    color: rgba(0, 0, 0, 0);
    border: 2px solid #d6d6d9;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.check {
    border: 4px solid #0061ff;
}

.price-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.price-row .price-col {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #d7d7da;
    font-size: 10px;
}

.price-row .price-col .account-type {
    border-bottom: 1.5px solid #d7d7da;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.price-col .account-type, .price-col-reverse .account-type {
    height: 20px;
    width: 100%;
}

.price-col .account-type-description {
    height: 580px;
    width: 100%;
}

.account-type-description {
    padding: 20px 20px;
}

.account-type-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.account-type-description .price-month {
    margin-bottom: 25px;
    color: #7f808e;
    line-height: 2;
}

.account-type-description .price-month span {
    font-weight: bold;
    color: black;
}

.account-type-description ul{
    margin-bottom: 30px;
}

.account-type-description ul .li-row {
    display: flex;
    gap: 3px;
    width: 100%;
    margin-bottom: 10px;
}

.account-type-description .button-blue {
    margin-bottom: 20px;
}

.account-type-description h5 {
    font-size: 10px;
    margin-bottom: 10px;
}

.or {
    display: inline-block;
    border-bottom: 1.5px solid #e4e4e6;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.account-type-description .button-blue a {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.purchase-now {
    text-decoration: underline;
    color: #4747f2;
    display: inline-block;
}

.li-row .fa-check {
    color: #1473ff;
}

.price-row-reverse .price-col-reverse {
    border: 1.5px solid #d7d7da;
    font-size: 10px;
}

.price-row-reverse .price-col-reverse .account-type {
    border-bottom: 1.5px solid #d7d7da;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.col-reverse-flex {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.col-reverse-flex .button-blue a {
    width: 155px;
}

.text-col-reverse {
    width: 70%;
}

.find-partner-text .button-white a {
    font-size: 12px;
}




/* regole sezione trova partner */
.find-partner {
    display: flex;
    justify-content: flex-start;
    height: 350px;
    width: 60%;
    margin: 90px auto;
}

.find-partner-image {
    width: 60%;
}

.find-partner-image img {
    max-width: 100%;
}

.find-partner-text {
    width: 40%;
    padding: 26px;
}

.find-partner-text h4 {
    margin-bottom: 15px;
}

.find-partner-text p {
    font-size: 12px;
    margin-bottom: 15px;
}





/* sezione operazioni dropbox business  */
.operation-business {
    width: 60%;
    margin: 0 auto;
}

.operation-business-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.operation-business-col {
    width: calc(100% / 3);
}





/* sezione numero team che usano dropbox */
.user-active {
    width: 60%;
    margin: 0 auto;
}





/* sezione società */
.square-society {
    display: flex;
    justify-content: flex-start;
}

.square-society-col {
   height: 350px;
   max-width: calc(100% / 3);
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   flex-grow: 1;
}

.square-society-items {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.square-society-items-central {
    overflow: auto;
    max-height: 100%;
}





/* sezione prova gratuita */
.try-it {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
}

.try-it-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* sezione domande frequenti */
.faq {
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
}

.faq-container {
    width: 60%;
    margin: 0 auto;
}

.faq-text-symbol {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}




/* regole DEBUG */
/* body {
    background-color: aqua;} */

/* header {
    background-color: brown;
}

header nav {
    background-color: aquamarine;
}

header nav ul {
    background-color: blue;
}

header nav ul li {
    width: 50px;
    height: 30px;
    border: 2px solid black;
} */

/* .jumbo-container {
    background-color: brown;
}

.jumbo-container h1 {
    height: 110px;
    background-color: blue;
}

.jumbo-row div.text {
    background-color: rgb(22, 150, 116);
    border: 2px solid black;
}

.jumbo-row div.image {
    background-color: rgb(22, 150, 116);
    border: 2px solid black;
} */

/* .price-plan-container {
    background-color: rgb(180, 205, 18);
} */

/* .price-plan-container h3 {
    width: 100%;
    height: 30px;
    background-color: aqua;
    border: 2px solid black;
}

.price-plan-container .radio-section {
    background-color: aqua;
}

.price-plan-container .radio-section div {
    background-color: brown;
    width: 50px;
    height: 20px;
} */

/* .price-row .price-col {
    background-color: brown;
}  */

/* .price-row-reverse {
    background-color: rgb(80, 30, 30);   
}

.price-col .account-type, .price-col-reverse .account-type {
    background-color: blueviolet;
}

.price-col .account-type-description, .price-col-reverse .account-type-description {
    background-color: rgb(37, 37, 176);
} */

/* .find-partner-image {
    background-color: brown;
    border: 2px solid black;
}

.find-partner-text {
    background-color: brown;
    border: 2px solid black;
} */

.operation-business {
    background-color:rgb(80, 30, 30);
    height: 600px;
}

.operation-business h3 {
    width: 100%;
    height: 50px;
}

.operation-business-row {
    height: 90%;
}

.operation-business-col {
    height: 50%;
    background-color: blueviolet;
    border: 2px solid black;
}

.user-active {
    background-color: rgb(211, 11, 11);
    height: 250px;
}

.square-society-col {
    background-color: blue;
    border: 2PX solid black;
}

.square-society-items {
    background-color: yellow;
    border: 2px solid black;
}

.try-it {
    background-color: blueviolet;
    border: 2px solid black;
} 

.try-it-container {
    background-color: brown;
    height: 80px;
}

.faq {
    background-color: blueviolet;
    border: 2px solid black;
} 

.faq-container {
    background-color: brown;
    height: 80px;
}